
body {
    background-image: url('../images/concourse-pattern.svg');
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.centered-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.side-by-side {
    background-color: rgba(
            255,
            255,
            255,
            0.2
    );
    border-radius: 8px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.9);
    text-align: center;
    display: grid;
    grid-template-columns: 48% 48%;
    grid-gap: 0 4%;
    padding: 3em 1.5em;
    margin-left: 1.5em;
    margin-right: 1.5em;
}

.side-by-side .segment {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px;
}

.splash-intro {
    color: #efeeee;
}

.splash-intro p {
    font-size: 1rem;
}

.splash-intro h1 {
    font-size: xx-large;
    color: #efeeee;
}

.splash-intro > * > .text-links {
    text-decoration: underline !important;
    color: #efeeee;
}

.splash-intro > * > .text-links {
    color: #efeeee;
}

.right-flex {
    background-color: blueviolet;
}

.right-flex .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.quick-start {
    width: fit-content;
    flex-grow: 0;
}