<div class="top-banner">
  <p class="banner-text">
    <a href="https://blog.concourse-ci.org/posts/2025-08-12-new-release-7-14/">🎉 v7.14.0 Released - 🦾 First ARM Build of Concourse</a>
  </p>
</div>

