<div class="top-banner">
  <p class="banner-text">
    🎉<a href="https://blog.concourse-ci.org/posts/2025-04-03-7-13-release-and-project-update/">v7.13.0 Release and Project Update</a> ✨
  </p>
</div>

