<div class="splash-split">
  <div class="split-header">
    <h3>Download the latest release:</h3>
    <a class="icon-button release-link" href="{{.Content.Target}}">v{{.Partial "VersionNumber" | render}}</a>
  </div>

  <ul class="download-info">
    <script>
        function redirectToURL(select) {
        const url = select.value;
        if (url) {
            window.location.href = url;
        }
        }
    </script>
    <li>
      <span class="label">
        <code>concourse</code> server:
      </span>

      <select onchange="redirectToURL(this)">
        <option value="#">Download concourse</option>
        <option value="https://github.com/concourse/concourse/releases/download/{{.Partial "Version" | render}}/concourse-{{.Partial "VersionNumber" | render}}-linux-amd64.tgz">Linux (x86_64)</option>
        <option value="https://github.com/concourse/concourse/releases/download/{{.Partial "Version" | render}}/concourse-{{.Partial "VersionNumber" | render}}-linux-arm64.tgz">Linux (arm64)</option>
        <option value="https://github.com/concourse/concourse/releases/download/{{.Partial "Version" | render}}/concourse-{{.Partial "VersionNumber" | render}}-darwin-amd64.tgz">macOS (x86_64)</option>
        <option value="https://github.com/concourse/concourse/releases/download/{{.Partial "Version" | render}}/concourse-{{.Partial "VersionNumber" | render}}-darwin-arm64.tgz">macOS (arm64)</option>
        <option value="https://github.com/concourse/concourse/releases/download/{{.Partial "Version" | render}}/concourse-{{.Partial "VersionNumber" | render}}-windows-amd64.zip">Windows (x86_64)</option>
      </select>
    </li>

    <li>
      <span class="label">
        <code>fly</code> CLI:
      </span>

      <select onchange="redirectToURL(this)">
        <option value="#">Download fly</option>
        <option value="https://github.com/concourse/concourse/releases/download/{{.Partial "Version" | render}}/fly-{{.Partial "VersionNumber" | render}}-linux-amd64.tgz">Linux (x86_64)</option>
        <option value="https://github.com/concourse/concourse/releases/download/{{.Partial "Version" | render}}/fly-{{.Partial "VersionNumber" | render}}-linux-arm64.tgz">Linux (arm64)</option>
        <option value="https://github.com/concourse/concourse/releases/download/{{.Partial "Version" | render}}/fly-{{.Partial "VersionNumber" | render}}-darwin-amd64.tgz">macOS (x86_64)</option>
        <option value="https://github.com/concourse/concourse/releases/download/{{.Partial "Version" | render}}/fly-{{.Partial "VersionNumber" | render}}-darwin-arm64.tgz">macOS (arm64)</option>
        <option value="https://github.com/concourse/concourse/releases/download/{{.Partial "Version" | render}}/fly-{{.Partial "VersionNumber" | render}}-windows-amd64.zip">Windows (x86_64)</option>
      </select>
    </li>
  </ul>
</div>
