// Colors

$primary: #2094f3;

:root  > * {
  --md-primary-fg-color: #{$primary};
  --md-primary-fg-color--light: #42a5f5;
  --md-primary-fg-color--dark: #1975d2;
  --md-primary-bg-color: #fff;
  --md-primary-bg-color--light: #ffffffb3;
}

:root {
  --md-sys-color-primary:  #{$primary};
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;700&display=swap');

:root {
  --md-ref-typeface-brand: 'Roboto Slab';
  --md-ref-typeface-plain: 'Roboto Slab';
}

.md-typeset .admonition, .md-typeset details {
  font-size: .8rem;
}